.post_detail {
    margin-bottom: 4em;
    align-items: center;

}

.post_detail img{
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.post_detail h2{
    margin-bottom: .4em;
}

.post_detail .tags{
    margin-bottom: 0.3em;
    display: flex;
    align-items: center;
}

.tags p{
    margin-right: .5em;
}

.tags span{
    font-weight: bold;
}

.createdBy{
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

@media (max-width: 626px){
    .post_detail img{
        max-width: 85vw;
        justify-content: center;
    }

}
